.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #e0e0e0;
}

#result{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    width: 200px;
    padding: 10px;
    text-align: right;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

button{
    background-color: #fff;
    color: black;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    font-size: 18px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}
button:hover{
    background-color: #e0e0e0;
}
button:active{
    background-color: #d0d0d0;
}
button:hover{
    background-color: #f0f0f0;
}

