body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
  width: 320px;
  height: 450px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.image-section {
  height: 35%;
  overflow: hidden;
}

.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 10px 10px;
}

.content-section {
  height: 65%;
}
#add-btn {
  width: 30%;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}