body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 2px solid black;
    width: 320px;
    padding: 15px;
    border-radius: 6px;
}

#text{
    padding: 6px;
    border-radius: 5px;
    border: 1px solid black;
    height: 26px;
}



#nameError{
    min-height: 16px;
    font-size: 14px;
    color: red;
}
.validUsername{
    color: green;
}
.invalidUsername{
    color: red;
}